$base-font-size = 1.25em
$mobile-font-size = 1em
$ratio = 1.1892

$font-color-dark = #4D4D4D;
$font-color-light = #FFFFFF;

$border-radius = 4px

$navbar-color-primary = #19232E
$navbar-color-secondary = #242f3d
$navbar-color-tertiary = #1E2835
$navbar-color-active = #53A6FA

$background-color-primary = #f4f7fa

$success-color = #08D26F
// $success-color-dark = 
$danger-color = #FF5C87
// $danger-color-dark = 