$FONT-SIZE = 1em
$RATIO = 1.1892

$FONT-COLOR-DARK = #4D4D4D;
$FONT-COLOR-LIGHT = #FFFFFF;

$BORDER-RADIUS = 5px

$PRIMARY-COLOR = #0081D5
$PRIMARY-COLOR-LIGHT = #1E90DA
$PRIMARY-COLOR-DARK = #0072BC

$SUCCESS-COLOR = #03BD5B
$SUCCESS-COLOR-LIGHT = #21C56E
$SUCCESS-COLOR-DARK = #03A750

$DANGER-COLOR = #D2335B
$DANGER-COLOR-LIGHT = #D74B6E
$DANGER-COLOR-DARK = #B92D50