$base-font-size = 1.25em
$mobile-font-size = 1em
$ratio = 1.1892

$font-color-dark = #4D4D4D;
$font-color-light = #FFFFFF;

$border-radius = 5px

$navbar-color-primary = #19232E
$navbar-color-secondary = #242f3d
$navbar-color-tertiary = #1E2835
$navbar-color-active = #53A6FA

$background-color-primary = #f4f7fa

$primary-color = #0081D5
$primary-color-light = #1E90DA
$primary-color-dark = #0072BC

$success-color = #03BD5B
$success-color-light = #21C56E
$success-color-dark = #03A750

$danger-color = #D2335B
$danger-color-light = #D74B6E
$danger-color-dark = #B92D50